<!doctype html>
<html lang="en">
  <head>
    {% block title %}
      <title>AsyaKivi</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'image/logo.jpg' %}">
  </head>
  <body>
     <header class="header">
        <img class="logo header-logo" src="{% static 'image/logo.jpg' %}" alt="AsyaKivi">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>

        <div class="menu">
             <a href="#">Каталог</a>
            <a href="#">Категории</a>
            <a href="#">Контакты</a>
            <a href="#">Обо мне</a>
        </div>
     </header>
    <main>
        {% block content %}
            Welcome to AsyaKivi!
        {% endblock %}
    </main>
    <footer>

    </footer>
  </body>
</html>